@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Slabo+27px&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "EB Garamond", serif;
}

:root {
  --bg-white-transparent: #ffffff1a;
  --bg-red: #e50914;
  --bg-white: #ffffff;
  --bg-gray-600: #3d3d3d;
  --bg-gray-500: #383838;
  --bg-gray-400: #333333;
  --bg-gray-300: #2d2d2d;
  --bg-gray-200: #292929;
  --bg-gray-150: #232323;
  --bg-gray-100-transparent: #161616b3;
  --bg-black: #000000;
  --text-white: #ffffff;
  --text-white-muted: #ffffffb3;
  --text-red: #e50914;
  --text-gray: #414141;
  --text-black: #000000;
  --fill-white: #ffffff;
  --fill-white-muted: #ffffffb3;
  --fill-red: #e50914;
  --border-gray-transparent: #808080b3;
}

/* Reusable CSS Classes */

.container {
  max-width: 140rem;
  /* width: 100vh; */
  height: auto;
  margin: 0 auto;
}

/* Flexbox Styling Start */

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-left {
  justify-content: start;
}

.justify-right {
  justify-content: end;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-around {
  justify-content: space-around;
}

.item-center {
  align-items: center;
}

.item-left {
  align-items: start;
}

.item-right {
  align-items: end;
}

.gap {
  gap: 0.3rem;
}

.gap-half {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-1-half {
  gap: 1.5rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-2-half {
  gap: 2.5rem;
}

.gap-3 {
  gap: 3rem;
}

/* Flexbox Styling Stop */

/* height Styling Start */
.h-full {
  height: 100%;
}

.h-fit-content {
  height: fit-content;
}

.h-screen {
  height: 100dvh;
}

/* height Styling Start */

.w-full {
  width: 100%;
}

.w-fit-content {
  width: 100%;
}

.w-screen {
  width: 100dvh;
}

/* height Styling Stop */

/* Position Style Section Start */
.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}
/* Position Style Section End */

/* Coloring Styling Start */

.bg-color {
  background-color: var(--bg-black);
}

.bg-white {
  background-color: var(--bg-white);
}

.text-white {
  color: var(--text-white);
}

.text-black {
  color: var(--text-black);
}

.text-logo {
  color: var(--text-red);
}

/* Coloring Styling Stop */

li,
a {
  font-size: 1.8rem;
  text-decoration: none;
  list-style: none;
}

/* Padding and Margin Styling Start */
.p-1 {
  padding: 1rem;
}

.p-1-half {
  padding: 1.5rem;
}

.p-2 {
  padding: 2rem;
}

.p-2-half {
  padding: 2.5rem;
}

.p-3 {
  padding: 3rem;
}

.pl-1 {
  padding: 1rem;
}

.pl-1-half {
  padding-left: 1.5rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pl-2-half {
  padding-left: 2.5rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pr-1-half {
  padding-right: 1.5rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pr-2-half {
  padding-right: 2.5rem;
}

.pr-3 {
  padding-right: 3rem;
}

.p-x-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.p-x-1-half {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.p-x-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.p-x-2-half {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.p-x-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.p-x-5 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.p-y-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.p-y-1-half {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.p-y-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.p-y-2-half {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.p-y-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.m-1 {
  margin: 1rem;
}

.m-1-half {
  margin: 1.5rem;
}

.m-2 {
  margin: 2rem;
}

.m-2-half {
  margin: 2.5rem;
}

.m-3 {
  margin: 3rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-1-half {
  margin-left: 1.5rem;
}

.ml-2 {
  margin-left: 2rem;
}

.ml-2-half {
  margin-left: 2.5rem;
}

.ml-3 {
  margin-left: 3rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-1-half {
  margin-right: 1.5rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mr-2-half {
  margin-right: 2.5rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-1-half {
  margin-top: 1.5rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-2-half {
  margin-top: 2.5rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mx-1 {
  margin: 0 1rem;
}

.mx-1-half {
  margin: 0 1.5rem;
}

.mx-2 {
  margin: 0 2rem;
}

.mx-2-half {
  margin: 0 2.5rem;
}

.mx-3 {
  margin: 0 3rem;
}

.my-1 {
  margin: 1rem 0;
}

.my-1-half {
  margin: 1.5rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-2-half {
  margin: 2.5rem 0;
}

.my-3 {
  margin: 3rem 0;
}

/* Display CSS */
.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.hidden {
  display: none;
}

/* Font Size and Font weight CSS */
.main-heading {
  font-size: 3.2rem;
}

.sub-heading {
  font-size: 2.4rem;
}

.heading {
  font-size: 2rem;
}

.main-para {
  font-size: 1.8rem;
}

.sub-para {
  font-size: 1.6rem;
}

.para {
  font-size: 1.4rem;
}

.text-bolder {
  font-weight: 900;
}

.text-bold {
  font-weight: 600;
}

.text-normal {
  font-weight: 400;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

/* Transition Styling CSS Start */
.ease {
  transition: all ease 0.5s;
}

.ease-in {
  transition: all ease-in 0.5s;
}

.ease-in-out {
  transition: all ease-in-out 0.5s;
}

.ease-out {
  transition: all ease-out 0.5s;
}

/* Transition Styling CSS End */

/* Border radius CSS */
.rounded {
  border-radius: 50%;
}

.rounded-x {
  border-radius: 1rem;
}

.border-none {
  border: none;
}

.outline-none {
  outline: none;
}

/* Curser Style CSS */
.pointer {
  cursor: pointer;
}

/* Hover CSS */

/* Header Section Styling Start */

.navbar-content {
  height: 7rem;
}

.navbar-content .navbar-logo,
.navbar-content .navbar-link {
  color: var(--text-white);
  /* font-size: 1.8rem; */
}

.navbar-content .navbar-link:hover,
.mobile-navbar .navbar-link:hover {
  background-color: var(--bg-gray-600);
  color: var(--text-red);
}

.navbar-content .navbar-link-active,
.mobile-navbar .navbar-link-active {
  background-color: var(--bg-gray-600);
  color: var(--text-red);
}

.navbar-link i,
.navbar-link span {
  font-size: 2rem;
}

.navbar-content .navbar-logo {
  font-size: 3rem;
  font-weight: bolder;
  color: var(--text-red);
}

.search-content input {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.search-content button {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: var(--fill-white);
  border-left: 0.1rem solid var(--border-gray-transparent);
  color: var(--fill-red);
  transition: all ease-out 0.5s;
  cursor: pointer;
}

.search-content button:hover {
  background-color: var(--fill-red);
  color: var(--text-white);
}

.profile-content img {
  height: 5rem;
}

/* Mobile Navbar Section */
.mobile-navbar {
  display: none;
  width: 40rem;
  height: 100dvh;
  margin-top: 0.1rem;
  position: absolute;
  top: 10dvh;
  left: -200rem;
  background-color: var(--bg-black);
  transition: all ease-in-out 0.4s;
}

.mobile-navbar-active {
  left: 0;
}

#menu-bar {
  display: none;
}

/* Header Section Styling End */

/* Footer Section Styling Start */
.footer-section .sub-heading {
  font-size: 3rem;
}

.footer-links-content .footer-link:hover, .copy-developed-section a:hover {
  text-decoration: 0.1rem solid underline;
}
/* Footer Section Styling End */

/* Responsive Styling Section Start*/

/* For Laptop / Desktop Screen */
@media (width < 1400px) {
  .navbar-content {
    padding: 0 2rem;
  }
}

/* for Tablets Screen */
@media (width < 1200px) {
  .navbar-content .navbar-items,
  .navbar-content .navbar-right .search-content {
    display: none;
  }

  #menu-bar {
    display: block;
  }

  .navbar-content {
    padding: 0 3rem;
  }

  .navbar-content .menu-bar-icon .bx-menu,
  .navbar-content .menu-bar-icon .bx-x {
    font-size: 4rem;
  }

  /* for Screen */

  .mobile-navbar {
    display: block;
  }
}

/* For Mobile Screen  */
@media (width < 576px) {
  .mobile-navbar-active {
    top: 7rem;
    left: 0;
  }

  .footer-links-content {
    gap: 1rem;
  }

  .footer-links-content .footer-link {
    font-size: 1.6rem;
  }
}

/* Responsive Styling Section End*/
