@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Slabo+27px&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: .1rem solid red; */
}

html {
  font-size: 62.5%;
  font-family: "EB Garamond", serif;
}

:root {
  --bg-white-transparent: #ffffff1a;
  --bg-red: #e50914;
  --bg-white: #ffffff;
  --bg-gray-600: #3d3d3d;
  --bg-gray-500: #383838;
  --bg-gray-400: #333333;
  --bg-gray-300: #2d2d2d;
  --bg-gray-200: #292929;
  --bg-gray-150: #232323;
  --bg-gray-100-transparent: #161616b3;
  --bg-black: #000000;
  --text-white: #ffffff;
  --text-white-muted: #ffffffb3;
  --text-red: #e50914;
  --text-gray: #414141;
  --text-black: #000000;
  --fill-white: #ffffff;
  --fill-white-muted: #ffffffb3;
  --fill-red: #e50914;
  --border-gray-transparent: #808080b3;
  --stat-0: hsl(0 100% 50%);
  --stat-10: hsl(12 100% 50%);
  --stat-20: hsl(24 100% 50%);
  --stat-30: hsl(36 100% 50%);
  --stat-40: hsl(48 100% 50%);
  --stat-50: hsl(60 100% 50%);
  --stat-60: hsl(72 100% 50%);
  --stat-70: hsl(84 100% 50%);
  --stat-80: hsl(96 100% 50%);
  --stat-90: hsl(108 100% 50%);
  --stat-100: hsl(120 100% 50%);
}

/* Reusable CSS Classes */

.container {
  max-width: 140rem;
  /* width: 100vh; */
  height: auto;
  margin: 0 auto;
}

/* Flexbox Styling Start */

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-left {
  justify-content: start;
}

.justify-right {
  justify-content: end;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-around {
  justify-content: space-around;
}

.item-center {
  align-items: center;
}

.item-left {
  align-items: start;
}

.item-right {
  align-items: end;
}

.gap {
  gap: 0.3rem;
}

.gap-half {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-1-half {
  gap: 1.5rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-2-half {
  gap: 2.5rem;
}

.gap-3 {
  gap: 3rem;
}

/* Flexbox Styling Stop */

/* Grid Styling Starting */
.grid {
  display: grid;
  gap: 3.4rem;
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(35.6rem, 1fr));
}

.grid-cols-5 {
  grid-template-columns: repeat(5, minmax(25rem, 1fr));
  align-items: center;
  justify-content: center;
}

.grid-cols-autofill {
  grid-template-columns: repeat(auto-fill, minmax(22.6rem, 1fr));
}

.grid-rows-3 {
  grid-template-rows: repeat(3, minmax(30rem, 1fr));
}
/* Grid Styling Ending */

/* height Styling Start */
.h-full {
  height: 100%;
}

.h-fit-content {
  height: fit-content;
}

.h-screen {
  height: 100dvh;
}

/* height Styling Start */

.w-full {
  width: 100%;
}

.w-fit-content {
  width: 100%;
}

.w-screen {
  width: 100dvh;
}

/* height Styling Stop */

/* Position Style Section Start */
.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}
/* Position Style Section End */

/* Coloring Styling Start */

.bg-color {
  background-color: var(--bg-black);
}

.bg-white {
  background-color: var(--bg-white);
}

.text-white {
  color: var(--text-white);
}

.text-black {
  color: var(--text-black);
}

.text-gray {
  color: var(--bg-gray-600);
}

.text-logo {
  color: var(--text-red);
}

/* Coloring Styling Stop */

li,
a {
  font-size: 1.8rem;
  text-decoration: none;
  list-style: none;
}

/* Padding and Margin Styling Start */
.p-1 {
  padding: 1rem;
}

.p-1-half {
  padding: 1.5rem;
}

.p-2 {
  padding: 2rem;
}

.p-2-half {
  padding: 2.5rem;
}

.p-3 {
  padding: 3rem;
}

.pl-1 {
  padding: 1rem;
}

.pl-1-half {
  padding-left: 1.5rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pl-2-half {
  padding-left: 2.5rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pr-1-half {
  padding-right: 1.5rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pr-2-half {
  padding-right: 2.5rem;
}

.pr-3 {
  padding-right: 3rem;
}

.p-x-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.p-x-1-half {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.p-x-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.p-x-2-half {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.p-x-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.p-x-5 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.p-y-half {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.p-y-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.p-y-1-half {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.p-y-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.p-y-2-half {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.p-y-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.m-1 {
  margin: 1rem;
}

.m-1-half {
  margin: 1.5rem;
}

.m-2 {
  margin: 2rem;
}

.m-2-half {
  margin: 2.5rem;
}

.m-3 {
  margin: 3rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-1-half {
  margin-left: 1.5rem;
}

.ml-2 {
  margin-left: 2rem;
}

.ml-2-half {
  margin-left: 2.5rem;
}

.ml-3 {
  margin-left: 3rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-1-half {
  margin-right: 1.5rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mr-2-half {
  margin-right: 2.5rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-1-half {
  margin-top: 1.5rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-2-half {
  margin-top: 2.5rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-1-half {
  margin-bottom: 1.5rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-2-half {
  margin-bottom: 2.5rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mx-1 {
  margin: 0 1rem;
}

.mx-1-half {
  margin: 0 1.5rem;
}

.mx-2 {
  margin: 0 2rem;
}

.mx-2-half {
  margin: 0 2.5rem;
}

.mx-3 {
  margin: 0 3rem;
}

.my-1 {
  margin: 1rem 0;
}

.my-1-half {
  margin: 1.5rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-2-half {
  margin: 2.5rem 0;
}

.my-3 {
  margin: 3rem 0;
}

/* Display CSS */
.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.hidden {
  display: none;
}

/* Font Size and Font weight CSS */
.main-heading {
  font-size: 3.2rem;
}

.sub-heading {
  font-size: 2.4rem;
}

.heading {
  font-size: 2rem;
}

.main-para {
  font-size: 1.8rem;
}

.sub-para {
  font-size: 1.6rem;
}

.para {
  font-size: 1.4rem;
}

.mimi-para {
  font-size: 1.2rem;
}

.text-bolder {
  font-weight: 900;
}

.text-bold {
  font-weight: 600;
}

.text-normal {
  font-weight: 400;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

/* Transition Styling CSS Start */
.ease {
  transition: all ease 0.5s;
}

.ease-in {
  transition: all ease-in 0.5s;
}

.ease-in-out {
  transition: all ease-in-out 0.5s;
}

.ease-out {
  transition: all ease-out 0.5s;
}

/* Transition Styling CSS End */

/* Border radius CSS */
.rounded {
  border-radius: 50%;
}

.rounded-x {
  border-radius: 1rem;
}

.border-none {
  border: none;
}

.outline-none {
  outline: none;
}

/* Curser Style CSS */
.pointer {
  cursor: pointer;
}

/* Hover CSS */

/* Header Section Styling Start */

.navbar-content {
  height: 7rem;
  z-index: 100;
}

.navbar-content .navbar-logo,
.navbar-content .navbar-link {
  color: var(--text-white);
  /* font-size: 1.8rem; */
}

.navbar-content .navbar-link:hover,
.mobile-navbar .navbar-link:hover {
  background-color: var(--bg-gray-600);
  color: var(--text-red);
}

.navbar-content .navbar-link-active,
.mobile-navbar .navbar-link-active {
  background-color: var(--bg-gray-600);
  color: var(--text-red);
}

.navbar-link i,
.navbar-link span {
  font-size: 2rem;
}

.navbar-content .navbar-logo {
  font-size: 3rem;
  font-weight: bolder;
  color: var(--text-red);
}

.search-content input {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.search-content button {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: var(--fill-white);
  border-left: 0.1rem solid var(--border-gray-transparent);
  color: var(--fill-red);
  transition: all ease-out 0.5s;
  cursor: pointer;
}

.search-content button:hover {
  background-color: var(--fill-red);
  color: var(--text-white);
}

.profile-content img {
  height: 5rem;
}

/* Mobile Navbar Section */

.mobile-navbar {
  display: none;
  width: 40rem;
  height: 100dvh;
  margin-top: 0.1rem;
  position: absolute;
  top: 10dvh;
  left: -200rem;
  background-color: var(--bg-black);
  transition: all ease-in-out 0.4s;
  z-index: 999;
}

.mobile-navbar-active {
  left: 0;
}

#menu-bar {
  display: none;
}

/* Movie Card Section Style Starting */

.trending-container .content-title {
  border-radius: 3rem;
  border: 0.3rem solid var(--bg-black);
  cursor: pointer;
}

.trending-active {
  background-color: var(--bg-gray-150);
  border-radius: 3rem;
  color: var(--text-white);
}

.movie-card-section {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 22rem;
  column-gap: 5rem;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 1rem 0;
  z-index: 1;
}

.movie-card-section::-webkit-scrollbar {
  height: 8px;
}

.movie-card-section::-webkit-scrollbar-thumb {
  background: #21d07a;
  border-radius: 10px;
}

.movie-card-section::-webkit-scrollbar-thumb:hover {
  background: #0ef585;
}

.movie-card-content {
  width: 23rem;
  height: 33rem;
  border-radius: 1rem;
  /* background-color: var(--bg-gray-100-transparent); */
  z-index: 1;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.more-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 3rem;
  width: 3rem;
  color: var(--text-white);
  background-color: var(--bg-gray-300);
  border-radius: 50%;
  cursor: pointer;
}

.more-icon .option-content {
  position: absolute;
  top: 4rem;
  right: 0;
  width: 15rem;
  height: fit-content;
  background-color: var(--bg-white);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  z-index: 4;
}

.option-content .option-link {
  padding: 1rem 2rem;
  transition: all 0.5s ease;
  color: var(--text-black);
  cursor: pointer;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.option-content .option-link:hover {
  background-color: var(--bg-gray-150);
  color: var(--text-white);
  border-radius: 1rem;
}

.more-icon .bx-dots-horizontal-rounded {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.movie-card-content .movie-poster {
  width: 23rem;
  height: 26.5rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  position: relative;
  top: 0;
  right: 0;
  z-index: 2;
  aspect-ratio: 2 / 3;
  cursor: pointer;
}

.movie-poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  cursor: pointer;
}

.movie-description {
  width: 100%;
  height: fit-content;
}

.movie-description .movie-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Movie Card Section Style Ending */

/* Rating Circle */
.rating-circle {
  position: absolute;
  left: 2rem;
  bottom: -2rem;
  width: 4rem;
  height: 4rem;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1rem;
  color: #111;
  z-index: 3;
}

/* SVG Base */
.progress-ring {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-90deg); /* Progress starts at the top */
}

/* Background ring */
.ring-bg {
  fill: none;
  stroke: #e6e6e6;
  stroke-width: 5;
}

/* Progress ring */
.ring-progress {
  fill: none;
  stroke: #21d07a;
  stroke-width: 5;
  stroke-linecap: round;
  animation: progress 0.1s ease;

  /* C = 2Ï€r = 94.25 for r = 15 */
  --circumference: 94.25;

  stroke-dasharray: var(--circumference);
  stroke-dashoffset: calc(
    var(--circumference) - (var(--circumference) * (var(--rating) / 100))
  );

  transition: stroke-dashoffset 0.6s ease;
}

/* Movie Card Section Ending */

/* Series Page Styling */
.series-list-container .content-title {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: .7rem;
}

.series-active:first-child {
  border-top-left-radius: .7rem;
  border-bottom-left-radius: .7rem;
}

.series-active:last-child {
  border-top-right-radius: .7rem;
  border-bottom-right-radius: .7rem;
}

.series-active {
  background-color: var(--bg-gray-150);
  color: var(--text-white);
  padding: 1rem;
}

/* Footer Section Styling Start */
.footer-section .sub-heading {
  font-size: 3rem;
}

.footer-links-content .footer-link:hover,
.copy-developed-section a:hover {
  text-decoration: 0.1rem solid underline;
}
/* Footer Section Styling End */

/* Responsive Styling Section Start*/

/* For Laptop / Desktop Screen */
@media (width < 1400px) {
  .navbar-content {
    padding: 0 2rem;
  }

  .card-collection-section {
    padding: 0 2rem;
  }
}

/* for Tablets Screen */
@media (width < 1200px) {
  .navbar-content .navbar-items,
  .navbar-content .navbar-right .search-content {
    display: none;
  }

  #menu-bar {
    display: block;
  }

  .navbar-content {
    padding: 0 3rem;
  }

  .navbar-content .menu-bar-icon .bx-menu,
  .navbar-content .menu-bar-icon .bx-x {
    font-size: 4rem;
  }

  /* for Screen */

  .mobile-navbar {
    display: block;
  }
}

/* For Mobile Screen  */
@media (width < 576px) {
  .mobile-navbar-active {
    top: 7rem;
    left: 0;
  }

  .footer-links-content {
    gap: 1rem;
  }

  .footer-links-content .footer-link {
    font-size: 1.6rem;
  }

  /* Movies Card Content */
  .movie-card-section {
    grid-auto-columns: 17rem;
  }

  .movie-card-content {
    width: 16rem;
    height: 27.5rem;
  }

  .movie-card-content .movie-poster {
    width: 16rem;
    height: 20.5rem;
  }

  .movie-description .movie-name {
    font-size: 1.4rem;
  }

  .movie-description .relase-date {
    font-size: 1rem;
  }

  /* More Option Icons */
  .more-icon .option-content {
    top: 3.5rem;
    right: 1rem;
    width: 12rem;
    height: fit-content;
    font-size: 1.4rem;
  }

  .option-content .option-link {
    font-size: 1.4rem;
    padding: .5rem 2rem;
  }
}

/* Responsive Styling Section End*/
